#header {
  background-color: #f37520;
}

#icon {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  margin-left: 100px;
}

#lista {
  padding-right: 40px;
}

section nav {
  background-color: #ededed;
}

#menu_lateral {
  margin-left: 10px;
  padding-left: 20px;
  padding-right: 40px;
  height: 400px;
}

#footer {
  margin-left: 80px;

  padding-left: 20px;
}

#navbar {
  margin-left: 86px;
}
